body{
    background-color: aqua;
}

a{
    color: cadetblue;
}

a:hover{
    color:black;
    border: green 10px solid;
    border-radius: 10px;
}

p {
    color: hotpink;
}

button{
    border-radius: 15px;
}

btn-primary{
    background-color: white;
}

btn-primary:hover{
    background-color: indigo;
}

.card{
    background-color: tomato;
}

.container-red{
    text-align: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: red;
}

.container-bild{
    text-align: center;
}

#text-center-Liam{
    text-align: center;
}

.container-blue{
    text-align: center;
    width: 100%;
    background: blue;
}